<html>
<head>
    <title>
        Blog Title
    </title>
</head>

<body>

<div>
    <a href="/" title="Lista">HomePage</a>
    <a href="templates/blog/list.html.twig" title="Lista">Article list</a>
    <a href="templates/blog/login.html.twig" title="Lista">Login</a>
    <a href="templates/blog/about.html.twig" title="Lista">About me</a>
</div>
</body>
</html>