<html>
<head>
    <title>
        Blog Title
    </title>
</head>

<body>

<div>
    <a href="/blog/index" title="Lista">HomePage</a>
    <a href="/blog/list" title="Lista">Article list</a>
    <a href="/blog/login" title="Lista">Login</a>
    <a href="/blog/about" title="Lista">About me</a>
</div>
</body>
</html>